* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    
body{
    background-color: #0e0f7d;
}

.main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color : rgb(236, 247, 247);
    background-color: rgb(236, 247, 247);
    width : min(91vw, 51em);
    margin : 5.7em auto; 
    border-radius: 10px;
    padding: 1em;
}

.divider{
    display: flex;
    background-color:#0e0f7d;
    width: 100%;
    height: 5px;
    border-radius: 15px;
    margin-bottom: 1em;
}

.information{
    display: flex;
    flex-direction : column;
    width : min(75vw, 42em);
}

#title{
    display: flex;
    text-align: center;
    font-family: Tahoma, sans-serif;
    color : #0e0f7d;
    padding-top: 0.5em;
}

p{
    display: flex;
    text-align: center;
    color:#0e0f7d;
    font-family: Helvetica, sans-serif;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 1em;
}

/* Ascunde caseta de radio originală */
input[type="radio"] {
    display: none;
}

/* Creează un nou cerc pentru caseta de radio */
input[type="radio"] + label:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #0e0f7d;
}

/* Stilizează caseta de radio când este selectată */
input[type="radio"]:checked + label:before {
    background-color: #0e0f7d;
}

#description{
    display: flex;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    color : #0e0f7d;
    margin-top : 1em;
    margin-bottom: 1.5em;
}

fieldset{
    border: none;
    width:100%;
}

.first-fieldset, .second-fieldset{
    padding-bottom: 1em;
    border: none;
}

.first-fieldset-item:focus {
    outline: none;
    border: 2px solid #0e0f7d;
}

.first-fieldset-item, #hint{
    border-radius: 4px;
    width: 100%;
}

.first-fieldset-item, .second-fieldset-item, #submit{
    color : rgb(236, 247, 247);
    background-color: #0e107dd8;
    border: none;
}

.second-fieldset-item::-webkit-file-upload-button {
    visibility: hidden;
}

#hint{
    background-color: #0e107dd8;
    color:rgb(236, 247, 247);
    border: none;
}

#hint:focus {
    outline: none;
    border: 2px solid rgb(244, 244, 65);
}

textarea{
    resize: none;
    padding: 4px 7px;
}

textarea::placeholder {
    color: rgba(236, 247, 247, 0.684); 
}

label {
    display: block;
    font-family: Helvetica, sans-serif;
    color : #0e0f7d;
}

select {
    background-color: #0e0f7d;
    color: rgb(236, 247, 247);
    border: none;
    padding: 2px;
}

option {
    background-color: #0e0f7d;
    color: rgb(236, 247, 247);
}

option:hover {
    background-color: #2d2e9cc0;
}

#terms-and-conditions{
    background-color: #0e0f7d;
}

.terms-and-conditions{
    padding-top: 1.5em;
}

#submit{
    padding : 0.2em 0.5em;
    font-family: Helvetica, sans-serif;
    font-size: min(3vw, 1em);
    border-radius: 6px;
    margin-top: 1vh;
    height : max(4vh, 1.8em);
    text-decoration: none;
    margin-bottom: 1em;
}

#submit:hover{
    background-color: #2d2e9cc0;
}

#submit:active{
    color : yellow;
}

input{
    padding: 1px 4px;
}